<% provide(:title, "Edit User") %>
<% provide(:submit, "Update User!") %>
<h1>Update your profile</h1>

<%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>

<!-- 
Rails use POST if @user.new_record? == true and PATCH if false
target= "_blank" is used to open the page in new window or tab  
-->